.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }
 /* web-page set-up style  */
body{
    background-color: #F5F5F5;
  }
header{
    max-width: 1600px;
    margin: 0 auto;
}
main{
    max-width: 1600px;
    margin: 0 auto;
}
/* navigation section style*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 24px 0px;
}
.navigation h3{
    font-size: 32px;
    font-weight: 700;
}
.navigation button{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 1px solid #006A50;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* Banner Section Style */
.banner{
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.banner-container{
    max-width: 1600px;
    height: 562px;
    display: flex;
    gap: 104px;
    align-items: center;
    justify-content: space-between;

}
.banner-title{
    width: 650px;
}
.banner-title p{
    font-size: 34px;
    font-weight: 500;
    color: #0E0E0E80;
    margin-bottom: 16px;
}
.banner-title h1{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-btn{
    padding: 17px 34px;
    color: white;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* Pillars of "Bangladesh 2.0" style */
.foundation{
    display: flex;
    gap: 24px;
}
.pillars-of-bd{
    margin: 80px 0px;
}
.pillars-of-bd > .title {
    margin-bottom: 32px;
}
.foundation > .pillars > .subtitle {
    margin: 20px 0px;
}


/* The Vision of Future */
.future-vision{
    margin-bottom: 32px;
}
.future-vision > .discription {
    margin-top: 24px;
    margin-bottom: 32px;
}
.our-visions {
    display: flex;
    gap: 24px;
}
.our-visions > .vision {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.green-energy {
    background-color: #C6E4D6 !important;
}
.green-energy > button {
    background-color: #09A15C;
}
.modern {
    background-color: #F7EBCF !important;
}
.modern > button {
    background-color: #FFC239;
}

/* Quote section style */
.quote{
    padding: 48px 24px;
    margin-bottom: 80px;
    background-color: #FFFFFF;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 15px;
    border: 1px solid #0E0E0E26;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.adviser-name{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0ECC;
}
.adviser-disignation{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E99;
}

/* Your Opinion Matters section style */

.opinion{
    padding: 32px;
    margin: 24px 0px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.opnion-head{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border: 1px solid #0E0E0E26;
    font-size: 20px;
    font-weight: 600;
}
.opnion-data {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF1A;
    border: 1px solid #0E0E0E26;
    font-size: 16px;
    font-weight: 600;
}
.option-manu{
    padding: 10px 14px;
    background-color: #C6E4D6;
    border: 1px solid #0E0E0E;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}
.option-manu option{
    font-size: 16px;
    font-weight: 500;
}

/* Recent News style */
.news-contant{
    display: flex;
    gap: 32px;
    padding: 48px;
    margin: 32px 0 24px 0;
    background-color: #FFFFFF;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.news-info{
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: flex-start;
    align-items: flex-start;
}
.news-info > .title {
    font-size: 32px;
    color: #0E0E0ECC;
}
.news-info button{
    padding: 13px 26px;
    background-color: #006A50;
    margin-top: 35px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.news-image img {
    max-width: 408px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

/* Donate section styles */
.donate{
    text-align: center;
    margin: 0 80px;
}
.amount{
    font-size: 40;
    font-weight: 700;
    color: #0E0E0ECC;
    padding: 40px;
    background-color: #FFFFFF;
    border: 1px solid #0E0E0E26;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.amounts-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 32px 0;
}
.donate > .discription {
    margin-top: 24px;
}
.ammount-selected{
    background-color: #C6E4D6;
}
.donate-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px; 
}
.donate-now > input[type=submit] {
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.donate-now > input[type=text] {
    width: 1032px;
    padding: 20px 40px;
    color: #0E0E0E4D;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    border: none;
    border-bottom: 1px solid #0e0e0e26;
    text-align: center;
}

/* Subscribe Newsletter styles */
.subscribe {
    padding: 80px 100px;
    margin: 80px 0;
    background-color: #C6E4D6;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
}
.newsletter .discription {
    max-width: 700px;
}
.newsletter > form > input[type=text] {
    width: 600px;
    padding: 18px 34px;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E4D;
    outline: none;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
}
.newsletter > form > input[type=submit] {
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 32px;
    border: none;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
}
.newsletter > form {
    display: flex;
}





/* Shared style */
.title{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}
.subtitle{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0ECC;
}
.discription{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
}
.pillars{
    padding: 24px;
    background-color: #FFFFFF;
    border: 1px solid #0E0E0E26;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.vision{
    padding: 32px;
    background-color: #5490F533;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.learn-more-btn{
    padding: 11px 20px;
    color: #FFFFFF;
    background-color: #5490F5;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* Footer section styles */
footer{
    background-color: #FFFFFF;
}
.fotter{
    padding: 50px 160px;
    text-align: center;
}
.fotter > hr {
    margin: 32px 80px;
    border: 1px solid #0E0E0E1A;
}
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

/* Design Complete nedd to style */

/* Hovor efects */
.pillars:hover {
    background-color: #C6E4D6;
}
.navigation button:hover {
    background-color: #006A50;
    color: #FFFFFF;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.banner-btn:hover{
    background-color: red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.news-contant:hover{
    background-color: #C6E4D6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.news-info > button:hover {
    background-color: #5490F5;
}
.amount:hover{
    background-color: #C6E4D6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.donate-now > input[type=submit]:hover{
    background-color: red;
}
.newsletter > form > input[type=submit]:hover{
    background-color: red;
}